
body {
    background-color: #4bd69c; 
    color: #a9b1d6;            
    font-size: 20px;          
    text-align: center;      
    margin: 0;                 
    padding: 20px;             
    font-family: Arial, sans-serif;
}


header {
    background-color: #24283b; 
    padding: 20px;             
    margin-bottom: 20px;      
    border-radius: 12px;     
    border: 2px solid #7aa2f7;
}

header h1 {
    font-size: 32px;
    color: #7aa2f7;
    margin: 0;
}


.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #24283b; 
    padding: 20px;             
    margin: 10px;              
    border-radius: 10px;       
    max-width: 400px;
    flex: 1 1 300px;
}


.imagem-gato {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;       
    margin-top: 15px;
}


table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #414868;
}

th {
    background-color: #414868;
    color: #7aa2f7;
}


.botao {
    display: inline-block;
    background-color: #7aa2f7;
    color: #1a1b26;
    padding: 10px 20px;       
    margin-top: 15px;         
    border-radius: 20px;       
    text-decoration: none;
    font-weight: bold;
}


.botao:hover {
    background-color: #bb9af7;
    transform: scale(1.05);
}


footer {
    margin-top: 30px;
    color: #565f89;
}